/* import Raleway */
/* 
rgb:
217 217 217
253 192 191
40 37 37
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.AppGrid_AppGrid__ZxiaC span {
  font-size: 14px !important;
  text-transform: lowercase !important;
}

.AppGrid_AppGrid__ZxiaC h5 {
   font-weight: bold !important;
   text-transform: lowercase;
   font-size: 16px;
}

/* Bookmark link details */
.BookmarkCard_Bookmarks__alLCe a {
   text-transform: lowercase;
}

/* Wide bookmark cards to match applications*/
.BookmarkCard_BookmarkCard__ooGTe {
   padding: 15px !important;
   margin-bottom: 0 !important;
   border-radius: 0.7rem !important;
}

/* Theme details */ 
.ThemePreview_ThemePreview__YpgwQ p {
   text-transform: lowercase !important;
}

/* Change time font */
.Header_Header__GCJdR p {
  font-family: Helvetica;
}

/* Adding short quote */
.Header_HeaderMain__oLoBB h1::after{
    content: "\A \"It’s gonna take awhile. It’s normal to take awhile. You’ve just gotta fight your way through.\"";
    white-space: pre-wrap !important;
    line-height: 2px !important;
    font-size: 14px;
    color: var(--color-accent);
    margin: 0 !important;
    font-weight: normal !important;
}

/* Change spacing of header */
.Header_HeaderMain__oLoBB h1 {
    line-height: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 800px;
    word-wrap:break-word !important;
}

/* Settings button style */
.Home_SettingsButton__DrUPz {
    border-radius: 0.5rem !important;
    background-color: #DFD9D6 !important;
}

/* Wide Application tiles */
.AppCard_AppCard__NPTM5 {
    padding: 15px !important;
    margin-bottom: 0 !important;
    border-radius: 0.7rem !important;
}

/* Application tile hover color */
.AppCard_AppCard__NPTM5:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .AppCard_AppCard__NPTM5:hover {
        backdrop-filter: blur(15px);
        background-color: rgba(0, 0, 0, 0.3) !important;
    }
}

/* Background image and font family*/
body {
    
    font-family: Raleway !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

/* 
background: url("https://images.photowall.com/products/64876/tender-clouds-pink.jpg?h=699&q=85");
https://wallpaperaccess.com/full/2602311.jpg
https://wallpaperaccess.com/full/1741507.jpg
https://images.photowall.com/products/65920/hanging-palm-leaves-pink.jpg?h=699&q=85
*/

/*
body:before {
    content: "";
    position: fixed;
    overflow: hidden;
    background: url(/uploads/flame_wallpaper.jpg);
    background-size: cover;
    z-index: -999;
    height: 100%;
    width: 100%;
    transform: scale(1.1);

    //Change the following only:// 
    filter: blur(0.5rem);
    opacity: 0.5;
}
*/

/* Truncate Title and URL */
.AppCard_AppCardIcon__ThrUl {
    min-width: 35px;
}

.AppCard_AppCard__NPTM5 {
    min-width: 0
}

.AppCard_AppCardDetails__HgNoY {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
